<div class="w3-container">
  <p id="notice"><%= notice %></p>

    <h1>Contacts</h1>

    <input class="w3- input w3-border w3-padding" type="text" placeholder="Search here..." id="myInput"
    onkeyup="myFunction()">
    <table class="w3-table-all w3-margin-top" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.address %></td>
            <td><%= contact.city %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.email %></td>
            <td style='width:2%;'><%= link_to 'Show', contact, class:'w3-btn w3-grey w3-round w3-text-white w3-tiny w3-slim w3-padding-tiny' %></td>
            <td style='width:2%;'><%= link_to 'Edit', edit_contact_path(contact), class:'w3-btn w3-grey w3-round w3-text-white w3-tiny w3-slim w3-padding-tiny' %></td>
            <td style='width:2%;'><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class:'w3-btn w3-grey w3-round w3-text-white w3-tiny w3-slim w3-padding-tiny' %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Contact', new_contact_path, class:'w3-btn w3-grey w3-round w3-text-white'%>
</div>
